*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#07120d;
    color:white;
}

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:40px;
}

.content{
    max-width:900px;
}

.tag{
    color:#58ff99;
    letter-spacing:3px;
    font-size:13px;
}

.hero h1{
    font-size:4rem;
    margin:20px 0;
}

.hero p{
    font-size:1.2rem;
    color:#d7d7d7;
    line-height:1.7;
}

.buttons{
    margin-top:35px;
}

button{
    padding:14px 28px;
    border:none;
    border-radius:40px;
    cursor:pointer;
    background:#2fff8d;
    color:#07120d;
    font-weight:bold;
    margin:10px;
}

.secondary{
    background:transparent;
    border:1px solid #2fff8d;
    color:white;
}

.section{
    padding:120px 10%;
    text-align:center;
}

.dark{
    background:#0d1c15;
}

.subtitle{
    color:#58ff99;
    font-size:13px;
    letter-spacing:3px;
}

.section h2{
    font-size:3rem;
    margin:20px 0;
}

.section p{
    max-width:800px;
    margin:auto;
    color:#c7c7c7;
    line-height:1.8;
}

.stats{
    margin-top:60px;
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:#11231a;
    padding:40px;
    border-radius:20px;
    width:280px;
}

.card h3{
    font-size:2.5rem;
    color:#58ff99;
}

.card span{
    display:block;
    margin-top:10px;
    color:#ccc;
}

.cta{
    padding:150px 10%;
    text-align:center;
    background:linear-gradient(
        135deg,
        #0a2f1f,
        #103d28
    );
}

.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

@media(max-width:768px){

.hero h1{
    font-size:2.5rem;
}

.section h2{
    font-size:2rem;
}
}